.article{
  width: 100%;
  padding: 1.5rem;
}

.article h2{
  font-family: var(--title-font);
  font-size: 5rem;
  margin-bottom: 2rem;
  color: var(--main-text-color);
}

.control__auth{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.article .btn_selected{
  background-color: var(--orange-color);
  color: var(--bg-secondary-color);
}

.form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
  font-family: var(--text-font);
  position: relative;
}

.form div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.form label{
  font-size: 2rem;
  align-self: flex-start;
  font-weight: bold;

}

.form input {
  height: 6rem;
  width: 40rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--bg-main-color);
  text-align: center;
  font-family: var(--text-font);
  font-size: 1.8rem;
}

.container{
  width: 100%;
  height: 60vh;
  display: grid;
  place-content: center;
}

.form .btn_submit{
  height: 6rem;
}

.form .input__error{
  border: 2px solid var(--pink-color);
  color: var(--pink-color);
}

.form .error__msg{
  color: var(--pink-color);
  font-family: var(--text-font);
  font-size: 1.7rem;
}

@media only screen and (max-width: 410px) {
  .article{
    padding: 3rem;
  }

  .article h2{
    text-align: center;
  }

  .control__auth button{
    width: 100%;
  }

  .container{
    margin-top: 15rem;
    height: 40vh;
  }

  .form label{
    align-self: center;
  }

  .form input{
    width: 32rem;
  }
}