.settingsLayout{
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 2fr 1fr;
}

.profilePicture{
  justify-self: center;
  width: 25rem;
  height: 25rem;
  background-color: white;
  color: var(--orange-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: relative;
  font-family: var(--text-font);
  font-size: 22rem;
  border: 0.6rem solid var(--orange-color);
}

.profilePicture p{
  position: absolute;
  font-weight: bold;
  top: -0.5rem;
  left: -0.6rem;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  width: inherit;
  height: inherit;
  background-color: #f5a66bed;
  border-radius: 50%;
  color: var(--pink-color);
  cursor: pointer;
}

.profileData{
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  font-family: var(--text-font);
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-text-color);
}

.profileData div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.profileData input{
  text-align: center;
  height: 6rem;
  width: 30rem;
  background-color: var(--bg-main-color);
  border: none;
  outline: none;
  border-radius: 1rem;
  padding-left: 1rem;
  color: var(--main-text-color);
  font-size: 1.8rem;

}


.profileData input::placeholder{
  font-family: var(--text-font);
  font-size: 1.8rem;
}

.profileData button{
  border: none;
  background-color: var(--orange-color);
  width: 14rem;
  height: 6rem;
  border-radius: 1rem;
  font-size: 3rem;
  padding-top: 0.5rem;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.deleteBtn{
  background-color: var(--pink-color);
  border-radius: 1rem;
  height: 6rem;
  width: 18rem;
  font-family: var(--text-font);
  color: #e79cb5;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  justify-self: end;
}

/* Definir estilos para tablet*/
/* Definir estilos para mobile */